
.carusel-wrp {
    margin-top: 65px;
}
.ngb-carousel {
    width: 100%;
}

.picsum-img-wrapper {
    display: flex;
    justify-content: center;
}

.picsum-img-wrapper img {
    width: 100%;    
    max-width: 400px;    
}

.carousel-caption {
    text-align: center;
}
