
/* Sidebar */
// p-sidebar {
//   background-color: #707070; /* Set background color */
//   padding: 20px; /* Add padding */
//   border-radius: 5px;
//   width: 30%; /* Set sidebar width */
//   min-width: 250px; /* Set minimum width for smaller screens */
//   top:30px;
// }
#recipe-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 4%;
  width: calc(100vw - 15rem);
  margin-inline: auto 0;
}

.slider-container {
  
  display: flex;
  justify-content: flex-end;
  width: 20%; /* כדי שהסרגל יוצג בצד ימין, עליך להגדיר את הרוחב שלו כ-100% */
margin-top: 0%;}
.recipe-page{
  display: flex;
  flex-direction: row;
}

#sidebardiv{
  background-color:rgb(219, 204, 180) ; 
}
#search{
  margin-top: 70px;
 margin-right: 40px;
}

// mat-slider .slider{
//   // position: fixed;
//   width: 10vw;
//   left: 17vw;
//   color: #80800096;
  
// }

#buttonSideBar{
  position: fixed;
  left: 5vw;
  top: 10vw;
  width: 10vw;
  height: 3vw;
  background-color:#a77325db;
  font-size: 2vw;
 
}
#time-slider{
 
  top: 20vw;
 
} 
#level-slider{
 
  top: 40vw;
 
}
.categories-section{
  
  // position: fixed; 
  top: 30vw;
  left: 4vw;
  text-align: left;
}
.h-filter{
  text-align: left;
  color: #a77325db;
}

// .mat-slider-horizontal .mat-slider-wrapp{
//   transform: rotate(0deg);
// }
.p-sidebar-content{
  background-color: #a77325db !important;
}

.checkBoxContent{
  color:white;
  font-weight: 100;
}
#side{
  background-color: #a77325db;
  height: 100%;
}
.cards-container{
  display: flex;
  gap: 1rem;
  flex-flow: wrap;
}